h1,h2,h3,h4,h5,h6,p,label,button,th{
    font-family: Arial !important;
  	padding: 0.5rem 0.5rem;
    font-weight: 100;
	letter-spacing: 0.02rem;

}
li a{
      font-family: Arial !important;
    font-weight: 100;
}
span.info-box-icon:hover{
	box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}
a.btn-sm:hover{
	box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}
li{
	font-family: Arial !important;
  font-weight: 100;

}

nav.mt-2 ul.nav-sidebar li i{
	color:rgb(8,59,102) !important;
}
nav.mt-2 ul.nav-sidebar li p{
	color:rgb(8,59,102) !important;
}
nav.mt-2 ul.nav-sidebar li a:hover{
	color:rgb(8,59,102) !important;
}
.text-color {
  color: rgb(131,219,214)!important;
 }
.bg-1{
	background-color: rgb(110, 185, 170);
}
.bg-2{
	background-color: rgb(214, 199, 136);
}
.bg-3{
	background-color: rgb(197, 143, 197);
}
.bg-4{
	background-color: rgb(147, 224, 164);
}
.bg-5{
	background-color: rgb(122, 116, 211);
}

table td{
		font-size: 13px !important;
	letter-spacing: 0.0625em;
	margin:-10px;
	border-spacing: 1em;
}
